footer {
   background-color: rgb(47, 160, 136);
}

//====================================================================================================
.footer {

   &__row {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: center;
      padding: 32px 0px;
      color: rgba(255, 255, 255, 1);
   }
}

.container {}

//====================================================================================================