//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
@import url(https://fonts.googleapis.com/css?family=Readex+Pro:200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Pacifico:regular);
//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Readex Pro";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1180;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";

body {
	height: 100%;
	color: #000;
	font-size: 14px;

	&.lock {
		overflow: hidden;
	}
}



.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	object-fit: cover;
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;


	&.loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;

	@media (max-width: $md1+px) {
		max-width: 970px;
	}

	@media (max-width: $md2+px) {
		max-width: 750px;
	}

	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

.fullscreen__video {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	z-index: -2;
}

//<MAINBLOCK>====================================================================================================
.mainblock {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: relative;

	&__container {}

	&__body {}

	&__background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100.1%;

		&:before {
			content: '';
			position: absolute;
			bottom: 0px;
			left: 0;
			height: 20px;
			z-index: 1;
			width: 100%;
			background: linear-gradient(to top, rgba(0, 35, 44, 0.99) 10%, rgba(0, 35, 44, 0.5)50%, rgba(0, 35, 44, 0)100%);
		}

		&:after {
			content: '';
			position: absolute;
			bottom: -39.7px;
			left: 0;
			height: 40px;
			z-index: 1;
			width: 100%;
			background: linear-gradient(to bottom, rgba(0, 65, 87, 0.99) 10%, rgba(0, 65, 87, 0.5)70%, rgba(0, 65, 87, 0)100%);
		}
	}

	&__content {
		margin: 120px 0px 0px 0px;
		text-align: center;
		width: 100%;
		position: relative;
		flex: 1 1 auto;
	}

	&__subtitle {
		font-size: 24px;
		font-weight: 600;
		line-height: 30px;
		letter-spacing: 0em;
		text-align: center;
		color: rgba(255, 255, 255, 1);

		transform: translate(0px, 120%);
		opacity: 0;
		transition: all 1s ease 0.3s;

		&.active {
			transform: translate(0px, 0px);
			opacity: 1;
		}
	}

	&__title {
		font-size: 48px;
		font-weight: 400;
		line-height: 60px;
		letter-spacing: 0em;
		text-align: center;
		color: rgba(255, 255, 255, 1);
		margin: 0px 0px 24px 0px;

		transform: translate(0px, 120%);
		opacity: 0;
		transition: all 1s ease 0s;

		&.active {
			transform: translate(0px, 0px);
			opacity: 1;
		}

		span {
			font-size: 48px;
			font-weight: 700;
			line-height: 60px;
			letter-spacing: 0em;
			text-align: center;

			@media (max-width: $md4+px) {
				font-size: 40px;
			}
		}

		@media (max-width: $md4+px) {
			font-size: 40px;
		}
	}

	&__button {
		font-size: 14px;
		font-weight: 600;
		line-height: 18px;
		letter-spacing: 0em;
		text-align: center;
		color: rgba(255, 255, 255, 1);
		padding: 10px 18px;
		border-radius: 8px;
		margin: 0px 0px 32px 0px;
	}

	&__items {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 160px;
		width: 100%;
		margin: 0px 0px 20px 0px;

		transform: scale(0);
		opacity: 0;
		transition: all 1s ease 0.6s;

		&.active {
			transform: scale(1);
			opacity: 1;
		}

	}

	&__item {
		transition: transform 0.5s ease 0s;

		&:hover {
			transform: scale(1.2);
		}
	}
}

.button__mainblock {
	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 1s ease 0.6s;

	&.active {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

.button {
	transition: background-color 0.5s ease 0s;
	background-color: rgba(43, 111, 62, 1);

	&:hover {
		background-color: rgb(55, 149, 82);
	}
}

.content-mainblock__container {
	height: 100%;
	@include flexbox();
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.ibg {
	z-index: -1;
}

//</MAINBLOCK>====================================================================================================
//<ABOUT>====================================================================================================
.about {
	padding: 20px 5px 20px 5px;
	background-color: rgba(0, 0, 0, 0.5);


	&__container {}

	&__body {
		position: relative;
		min-height: 100vh;
		max-width: 1440px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: $md2+px) {
			flex-direction: column-reverse;
		}
	}

	&__images {
		display: flex;
		align-items: flex-end;
		max-width: 413px;
		position: relative;
		margin: 0px 51px 0px 0px;

		img {
			border-radius: 10px;
		}

		@media (max-width: $md2+px) {
			margin: 0px 0px 0px 0px;
		}

		@media (max-width: $md4+px) {
			display: block;
		}
	}

	&__content {

		max-width: 460px;

		@media (max-width: $md2+px) {
			margin: 40px 0px 20px 0px;
			max-width: 700px;
		}

		@media (max-width: $md3+px) {
			max-width: 450px;
		}

		@media (max-width: $md4+px) {
			text-align: center;
			max-width: 100%;
		}
	}

	&__title {
		font-size: 32px;
		font-weight: 500;
		line-height: 40px;
		letter-spacing: 0em;
		text-align: left;
		color: rgb(255, 255, 255);
		margin: 0px 0px 21px 0px;

		transform: translate(120%, 0px);
		opacity: 0;
		transition: all 1s ease 0s;

		&.active {
			transform: translate(0px, 0px);
			opacity: 1;
		}

		@media (max-width: $md4+px) {
			font-size: 28px;
			text-align: center;
		}
	}

	&__text {
		font-size: 18px;
		line-height: 23px;
		letter-spacing: 0em;
		text-align: left;
		color: rgb(255, 255, 255);
		margin: 0px 0px 32px 0px;

		transform: translate(120%, 0px);
		opacity: 0;
		transition: all 1s ease 0.3s;

		&.active {
			transform: translate(0px, 0px);
			opacity: 1;
		}

		@media (max-width: $md4+px) {
			font-size: 16px;
			text-align: center;
		}
	}

	&__button {
		font-size: 14px;
		font-weight: 600;
		line-height: 18px;
		letter-spacing: 0em;
		text-align: left;
		color: rgba(248, 248, 248, 1);
		background-color: rgba(43, 111, 62, 1);
		border-radius: 8px;
		padding: 10px 18px;
	}
}



.image-about {
	height: 360px;

	@media (max-width: $md4+px) {
		height: 100%;
	}

	&__image1 {
		margin: 0px 13.46px 0px 0px;

		transform: translate(0px, 50%);
		opacity: 0;
		transition: all 1s ease 0s;

		&.active {
			transform: translate(0px, 0px);
			opacity: 1;
		}

		img {
			width: 100%;
			max-width: 200px;
			height: 326px;

			@media (max-width: $md4+px) {
				max-width: 100%;
				height: 100%;
			}
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 10px 0px;
		}
	}

	&__image2 {
		padding: 0px 0px 33px 0px;

		transform: translate(0px, -50%);
		opacity: 0;
		transition: all 1s ease 0s;

		&.active {
			transform: translate(0px, 0px);
			opacity: 1;
		}

		img {
			width: 100%;
			max-width: 200px;
			height: 326px;

			@media (max-width: $md4+px) {
				padding: 0px 0px 0px 0px;
				max-width: 100%;
				height: 100%;
			}
		}
	}
}

.button {
	&__about {
		transform: translate(120%, 0px);
		opacity: 0;
		transition: all 1s ease 0.6s;

		&.active {
			transform: translate(0px, 0px);
			opacity: 1;
		}
	}
}

//</ABOUT>====================================================================================================
//<DISCOVER>====================================================================================================
.discover {
	background-color: rgba(0, 0, 0, 0.5);

	&__container {}

	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		min-height: 100vh;
		max-width: 1440px;
		margin: 0 auto;
	}

	&__title {
		transform: scale(0);
		opacity: 0;
		transition: all 2s ease 0s;

		&.active {
			transform: scale(1);
			opacity: 1;
		}
	}
}

.title {
	margin: 0 auto 40px;
	max-width: 409px;
	font-size: 32px;
	font-weight: 500;
	line-height: 40px;
	letter-spacing: 0em;
	text-align: center;
	color: rgb(255, 255, 255);
}

.swiper {
	width: 100%;
	max-width: 1000px;

	transform: scale(0);
	opacity: 0;
	transition: all 2s ease 0.3s;

	&.active {
		transform: scale(1);
		opacity: 1;
	}

}

.swiper-wrapper {}

.swiper-slide {
	position: relative;
	max-width: 316px;
	margin: 0px 32px 0px 32px;


	img {
		border-radius: 10px;
		height: 400px;
		width: 316px;
	}

	&__content {
		position: absolute;
		width: 100%;
		bottom: 28px;
		left: 24px;
	}

	&__name {
		font-size: 24px;
		font-weight: 600;
		line-height: 30px;
		letter-spacing: 0em;
		text-align: left;
		color: rgba(255, 255, 255, 1);
	}

	&__location {
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0em;
		text-align: left;
		color: rgba(255, 255, 255, 1);
	}
}

//</DISCOVER>====================================================================================================
//<EXPLORE>====================================================================================================

.explore {
	background-color: rgba(0, 0, 0, 0.5);

	&__container {}

	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		min-height: 100vh;
		max-width: 950px;
		margin: 0 auto;
	}

	&__title {
		transform: translateY(-120%);
		opacity: 0;
		transition: all 2s ease 0s;

		&.active {
			transform: translateY(0px);
			opacity: 1;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: $md2+px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__item {
		display: flex;
		justify-content: center;
		position: relative;
		margin: 0px 10px 0px 10px;

		@media (max-width: $md2+px) {
			margin: 10px;
		}
	}

	&__itemhover:hover {
		transition: opacity 0.4s ease 0s;
		opacity: 0.7;
	}
}

.itemexplore1 {
	transform: translateX(-120%);
	opacity: 0;
	transition: all 2s ease 0.3s;

	&.active {
		transform: translateX(0px);
		opacity: 1;
	}
}

.itemexplore2 {
	transform: translateY(50%);
	opacity: 0;
	transition: all 2s ease 0.3s;

	&.active {
		transform: translateY(0px);
		opacity: 1;
	}
}

.itemexplore3 {
	transform: translateX(120%);
	opacity: 0;
	transition: all 2s ease 0.3s;

	&.active {
		transform: translateX(0px);
		opacity: 1;
	}
}

.item-explore {

	&__image {
		img {
			max-width: 100%;
			border-radius: 10px;
			background-color: #ffffff;
		}
	}

	&__content {
		text-align: center;
		position: absolute;
		bottom: 16px;
		background-color: rgba(255, 255, 255, 1);
		padding: 11px 35px;
		border-radius: 10px;
	}

	&__name {
		font-size: 24px;
		font-weight: 500;
		line-height: 30px;
		letter-spacing: 0em;
		text-align: center;
		color: rgba(32, 32, 32, 1);
		margin: 0px 0px 6px 0px;
	}

	&__location {
		font-size: 16px;
		font-weight: 500;
		line-height: 20px;
		letter-spacing: 0em;
		text-align: center;
		color: rgba(149, 149, 149, 1);
	}
}

//</EXPLORE>====================================================================================================
//<TRAVEL>====================================================================================================

.travel {
	background-color: rgba(0, 0, 0, 0.5);

	&__container {
		max-width: 1180px;
		margin: 100px auto;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 85px 0px;
		margin: 0px 5px;
		border-radius: 16px;
		background-color: rgb(47, 160, 136);

		transform: scale(0);
		opacity: 0;
		transition: all 1s ease 0s;

		&.active {
			transform: scale(1);
			opacity: 1;
		}
	}

	&__title {
		font-size: 32px;
		font-weight: 600;
		line-height: 40px;
		letter-spacing: 0em;
		text-align: center;
		color: rgba(255, 255, 255, 1);
		margin: 0px 0px 16px 0px;

		@media (max-width: $md4+px) {
			font-size: 28px;
		}
	}

	&__text {
		max-width: 363px;
		font-size: 18px;
		line-height: 23px;
		letter-spacing: 0em;
		text-align: center;
		color: rgba(255, 255, 255, 1);
		margin: 0px 0px 24px 0px;

		@media (max-width: $md4+px) {
			font-size: 16px;
		}
	}

	&__button {
		border-radius: 10px;
		padding: 10px 18px;
		display: inline-block;
		font-size: 14px;
		font-weight: 600;
		line-height: 18px;
		letter-spacing: 0em;
		text-align: center;
		color: rgba(43, 111, 62, 1);
		background-color: rgba(255, 255, 255, 1);
		cursor: pointer;
		transition: background-color 0.3s ease 0s;

		&:hover {
			background-color: rgba(255, 255, 255, 0.723);
		}
	}
}

//</TRAVEL>====================================================================================================